/* Css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utility class */
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary{
color: pink;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1.5em;
}

.btn:hover{
    background: pink;
    color: #333;
    border-radius: 1.5em;

}

.btn-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-dark .info-content2{
    background: #333;
    color: #fff;
}

.bg-dark .info-content3{
    background: #333;
    color: #fff;
}

.bg-dark .info-content4{
    background: #333;
    color: #fff;
}

.clr{
clear: both;
}

/* Main Styling */
html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color: #333;
    text-decoration: none;
}

#navbar{
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
/* Creating a active class */
#navbar ul li a:hover,
#navbar ul li a.current{
    background: #444;
    color: pink;
}

/* Show Case */
#showcase{
    background: url(../img/food.jpg) no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Home info */

#home-info .info-img{
    float: left;
    width: 50%;
    background: url('../img/gordan.png') no-repeat;
    min-height: 100%;
    
}
#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
    text-align: center;
}

#home-info .info-img2{
    float: right;
    width: 50%;
    background: url('../img/salt.jpg') no-repeat;
    min-height: 100%;
    background-size: cover;
}
#home-info .info-content2{
    float: left;
    width: 50%;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
    text-align: center;
}

#home-info .info-img3{
    float: left;
    width: 50%;
    background: url('../img/guy.png') no-repeat;
    min-height: 100%;
    background-size: cover;
}
#home-info .info-content3{
    float: right;
    width: 50%;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
    text-align: center;
}

#home-info .info-content p {
    padding-bottom: 30px;
}

#home-info .info-content2 p {
    padding-bottom: 30px;
}

#home-info .info-content3 p {
    padding-bottom: 30px;
}

#home-info{
    height: 400px;
}

/* Features */
.box{
    float: left;
    width: 33.33%;
    padding: 90px;
    text-align: center;
}
.bg-light{
    background: black;
    color: pink;
}

.bg-white{
    background: black;
    color: pink;
}

.bg-primary{
    background: black;
    color: pink;
}

/* Footer */
#main-footer{
    text-align: center;
    background: #444;
    color: pink;
    padding: 20px;
}